body {
    font-family: "Lato", sans-serif;
}
.header { 
    text-align: left;
    font-size: 50px;
}


.section { 
    margin-left: 10%;
}

.details { 
    width: 90%;
    text-align: left;
}

.card-style { 
    width: 90%; 
    text-align: left; 
    animation: rightShift 1s; 
}

.menu { 
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0px;
}

.duration { 
    right: 0%;
    text-align: right;
    position: absolute;
}

.contact-details{ 
    margin-left: 30%;
    text-align: left;
    padding-right: 50px;
}

.social-media-link { 
    right: 30%;
    text-align: left;
}

/* Effect 15: scale down, reveal */
.cl-effect-15 a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
}

.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	transform: scale(0.9);
	opacity: 0;
}

@keyframes rightShift {
    0%   {left:-200px}
    100%  {left:0px}
}